<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<%- include ("partials/navbar")%>

    <body>
        <div class="container d-flex" style=" margin-bottom: 200px;margin-top: 10vh;">
            <dv class="container ">
                <form action="/orders" method="get">
                    <button class="btn btn-success ml-1 mr-1" type="submit">Orders</button>
                </form>
                <form action="/account/logout" method="post">
                    <button class="btn btn-danger ml-1 mr-1" type="submit">logout</button>
                </form> <br /><br />
        </div>
        <!-- <div class="container vh-100">
            <button>Orders</button>
            <form action="/logout" method="post">
                <button type="submit">logout</button>
            </form>
        </div>
        </section> -->
    </body>
    <div class="text-center text-white fixed-bottom">
        <%- include ("partials/footer")%>
    </div>

</html>